<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="/static/css/bootstrap.min.css" rel="stylesheet">
  <style>
 .container {
 max-width: 800px;
 }
 </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h1> <a href="../../static/index.html" th:href="@{/}"
            style="text-decoration:inherit;color:inherit"> TYPER-BIBLE </a> </h1>
  </div>
  <h4 class="mb-3" th:text="${bookName}"> 경 출력 </h4>
  <div th:each="verse:${verses}" style="width:800px">
    <form action="item.html" method="post">
      <div th:each="verseText:${verse.texts}" class="mb-2">
        <input id="verseTextLabel" name="verseTextLabel" class="form-control"
                  placeholder="성경 구절 내용" th:placeholder="${verseText}"
                  style="background-color:white;border:none" disabled>
        <input type="text" id="inputText" name="inputText" class="form-control"
               th:placeholder="${verse.verseId}" placeholder="상단에 보이는 구절을 입력하세요">
      </div>
      <hr class="my-4">
    </form>
  </div>
  <div class="row">
    <div class="col mb-3">
      <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='typing.html'"
              th:onclick="|location.href='@{/{prevUrl}(prevUrl=${prevUrl})}'|" type="button">이전으로</button>
    </div>
    <div class="col mb-3">
      <button class="w-100 btn btn-primary btn-lg" onclick="location.href='typing.html'"
              th:onclick="|location.href='@{/{nextUrl}(nextUrl=${nextUrl})}'|" type="button">다음으로</button>
    </div>
  </div>
</div> <!-- /container -->
</body>
</html>